/*------------
    Banner
-------------*/
.banner {
  background-image: url("./images/Rectangle 4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner-title {
  font-family: "EB Garamond", serif;
  font-size: 72px;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
}

.banner-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #e7e7e7;
}

.big-button:hover {
  background-color: #8a6133 !important;
  color: rgb(252, 252, 155) !important;
}

.search:hover {
  background-color: #8a6133 !important;
  color: rgb(252, 252, 155) !important;
}

.get-Consultation:hover {
  background-color: #8a6133 !important;
  color: rgb(252, 252, 155) !important;
}

.search {
  width: 120px;
  height: 64px;
}

.form-control::placeholder {
  font-family: "Poppins";
  font-size: 16px;
  color: #a0a0a0;
}

/*-------------------------
  The Legal Practice Area
--------------------------*/
.legal-title {
  font-family: "EB Garamond", serif;
  color: #414040;
}

.legal-description {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #707070;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  transition: filter 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

.card i {
  color: #b68c5a;
  font-size: 35px;
  transition: transform 0.5s ease-in-out;
}

.card:hover i {
  color: #8a6133;
  transform: rotate(360deg) scale(1.4);
}

.card-title {
  text-align: center;
  font-family: "EB Garamond";
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: #414040;
}

.card-text {
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #707070;
}

.card-gradient {
  background: linear-gradient(180deg, #f3f3f3 0%, rgba(243, 243, 243, 0) 100%);
}

/*-------------------------
          Carousel
--------------------------*/
.carousel-title {
  font-family: "EB Garamond";
  font-weight: 800;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 4px;
  color: #ffffff;
}

.carousel-sub-title {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 32px;
  color: #ffffff;
}

.carousel-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #f3f3f3;
}

#one,
#two,
#three {
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
}

#one {
  background-image: url('./images/Rectangle 7.png'), url("./images/carousel\ background-1.png");
}

#two {
  background-image: url('./images/Rectangle 7.png'), url("./images/carousel\ background-2.png");
}

#three {
  background-image: url('./images/Rectangle 7.png'), url("./images/carousel\ background-3.png");
}

/*-------------------------
        Media Query
--------------------------*/
@media only screen and (min-width: 577px) {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }

  .legal-title {
    font-family: "EB Garamond", serif;
    margin-top: 120px !important;
  }
}

@media only screen and (max-width: 576px) {
  .main-banner {
    height: 290px;
  }

  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -146%);
    max-width: 355px;
  }

  .banner-title {
    font-family: "EB Garamond", serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
  }

  .banner-description {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-align: center;
    color: #e7e7e7;
    margin-top: 8px !important;
  }

  .search {
    height: 44px;
  }

  .big-button {
    line-height: 20px;
    padding: auto;
    border-radius: 12px !important;
  }

  .legal-title {
    margin-top: 50px;
  }

  .legal-description {
    text-align: justify;
  }

  .card {
    background: linear-gradient(
      180deg,
      #f3f3f3 0%,
      rgba(243, 243, 243, 0) 100%
    );
    border: 0;
  }

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
}
